.pdp{
    animation: tourne 1s linear infinite;
    margin: 40px auto;
}

@keyframes tourne{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

main:hover .contact-button{
    animation-name: anim1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

@keyframes anim1 {
    0%{
        transform: translateX(0) translateY(0)
    }

    10%{
        background-color: chartreuse;
    }

    20%{
        background-color: cyan;
    }

    30%{
        background-color: deeppink;
    }

    40%{
        background-color: gold;
    }

    50%{
        transform: translateX(300px) translateY(0px);
        background-color: darkorange;
    }

    60%{
        background-color: forestgreen;
    }

    70%{
        background-color: rgb(36, 34, 139);
    }

    80%{
        background-color: orchid;
    }

    90%{
        background-color: khaki;
    }

    100%{
        transform: translateX(300px) translateY(200px);
        background-color: red;
    }
}